/* Variáveis para facilitar a personalização */
:root {
    --primary-color: #00d4ff;
    --bg-footer: #121212;
    --drawer-bg: #ffffff;
    --text-light: #f4f4f4;
    --text-muted: #a0a0a0;
}



/* Reset básico */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.top-bar {
  background: #222;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 0.8rem;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 212, 255, 0.8);
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.3s;
   z-index: 10; 
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover { color: #007bff; }

/* Botão de Destaque */
.btn-orcamento {
  background: #007bff;
  color: white !important;
  padding: 8px 20px;
  border-radius: 50px;
  transition: transform 0.2s;
}

.btn-orcamento:hover { transform: scale(1.05); }
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 100px;   /* Define uma altura fixa para a barra não crescer */
  background-color: #fff;
  overflow: hidden; /* Garante que nada "vaze" para fora */
  padding: 10px;
}

.logo a {
  display: flex;
  align-items: center;
  height: 100%; /* Ocupa a altura disponível da barra */
}

.logo img {
  border-radius: 5px;
  object-fit: contain;
  transition: all 0.3s ease;
  width: auto;      /* Deixa a largura automática */
  max-height: 120px;
}


.search-container {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid rgba(0, 123, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: #333;
    backdrop-filter: blur(5px);
    outline: none;
    transition: 0.3s;
}

.search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}




























































































